[buildout]
develop = . 
versions = versions
extends = http://dist.plone.org/release/4.3.7/versions.cfg
parts =
    scripts
    instance
    test
    code-analysis
    i18ndude
    releaser


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    enslyon.opdsshowroom [test]


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/collective
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding


[versions]
enslyon.opdsshowroom =
ZopeSkel=2.21.2

[scripts]
recipe = zc.recipe.egg
eggs = 
    enslyon.opdsshowroom
    zest.releaser
    ZopeSkel
    PasteScript
    PasteDeploy
    Paste
    zopeskel.dexterity

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v']
eggs = enslyon.opdsshowroom

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

